<div class="row">

  <div class="large-6 columns">
    <img src="/assets/images/blazer-park.jpg" alt="">
  </div>
  <div class="large-6 columns">
    <h3>About Us</h3>
    <h4>Melanie</h4>
    <p>
      Melanie works as a technical recruiter at D. E. Shaw Research, a computational biochemistry group in midtown Manhattan.  Before finding her current position, she studied music and played the clarinet.  She still enjoys music of all sorts, but the karaoke bar has become her performance venue of choice.  She also enjoys cheese, running, and parades.
    </p>
    <h4>Scott</h4>
    <p>
      Scott recently transitioned from a career in the special event industry to software development. He is helping Conde Nast Entertainment launch a <a href="http://thescene.com/" target="_blank">new website</a>. You can follow the progress on <a href="https://twitter.com/SCENE" target="_blank">Twitter</a>! Previously, Scott has been a professional church musician, musical theater composer, and singing waiter. He enjoys singing Queen songs at karaoke, cycling, running, and learning new things.
    </p>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <h4>Melanie and Scott</h4>
    <p>
      Melanie and Scott met in June, 2012 at <a href="http://www.bliss47bar.com/" target="_blank">Bliss St Station</a> in Sunnyside, home of the best karaoke in the world. It was Magic Hat promotion night, complete with free beer and FREE T-SHIRTS, which for these karaoke and beer enthusiasts made for an ideal setting to get to know each other.  After some efficient and alluring post-karaoke texting, they managed to arrange a panini "hang" (deemed a date post-facto) at Il Bambino in Astoria.  They have been inseparable ever since.
    </p>
  </div>
  <div class="large-6 columns">
    <img src="/assets/images/present.jpg" alt="">
  </div>
</div>
