<div class="row">
  <div class="large-6 columns">
    <div class="image">
      <!-- <h1>Melanie and Scott!</h1> -->
      <img src="/assets/images/mountain.jpg" alt="">
    </div>
  </div>
  <div class="large-6 columns">
    <h3>WELCOME</h3>
    <p>We are getting married on Saturday, October 18, 2014 in Amherst, MA.</p>
    <h5><strong>Ceremony</strong></h5>
    <p>
      <a href="http://newmanumass.org/" target="_blank">Newman Center</a> at UMass, Amherst <br>
      472 North Pleasant St. <br>
      Amherst, MA 01002
    </p>
    <p>The ceremony will begin at 2:30 PM and will last about 30 minutes. </p>
  </div>
  <div class="large-6 columns">

    <h5><strong>Reception</strong></h5>
    <p>
      <a href="http://www.umasshotel.com/" target="_blank">Hotel UMass</a>, Marriott Center (11th Floor) <br>
      1 Campus Center Way <br>
      Amherst, MA 01003
    </p>
    <p>
      The reception will begin at 4:00 PM and we will continue to celebrate until 9:00 PM. There will be karaoke, so bring your singing voices and/or ear plugs.
    </p>
    <p>If you're looking for something to do between the ceremony and reception, consider visiting the <a href="https://fac.umass.edu/UMCA/Online/" target="_blank">University Museum of Contemporary Art</a> (located in the Fine Arts Center, just steps away from the Newman Center), or enjoy the vantage point from the campus pond, weather permitting.</p>
    <h5><strong>Welcome Dinner *NEW VENUE*</strong></h5>
    <p>
      Friday, October 17 at 6:30 PM <br><br>
      <a href="http://www.umassuclub.com/" target="_blank">University Club and Restaurant</a> <br>
      (formerly known as the Faculty Club)<br>
      243 Stockbridge Rd. <br>
      Amherst, MA 01003
    </p>
    <p>For those of you joining us on Friday evening, we've moved our welcome dinner to the University Club and Restaurant at UMass.  The Club is housed in two colonial era New England farmhouses, one of which is the oldest house in Amherst, built in 1728.</p>
  </div>
  <div class="large-6 columns">
    <div class="image">
      <img src="/assets/images/snow-us.jpg" alt="">
    </div>
  </div>
</div>
