<div class="row">

  <div class="large-8 columns">
    <img src="/assets/images/queens-candid.jpg" alt="">
  </div>
  <div class="large-4 columns">
    <h3>Registry</h3>
    <p>
      We are registered at
      <a href="http://www.macys.com/registry/wedding/guest/?registryId=6200378" target="_blank">Macy's</a>
      and <a href="http://zola.com/registry/melanieandscott" target="_blank">Zola</a>.
    </p>
  </div>
</div>
